<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Abhaile App</title>
    <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

        <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!--Navbar-->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
        <div class="container">
             <div class="navbar-header">
                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-
                 collapse">
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 </button>
         <a href="logout.html" class=" btn btn-info navbar-btn .navbar-right" >Logout</a>
         <a href="/shopping" class=" btn btn-info navbar-btn .navbar-left" >Shopping</a>

             </div>
        </div>
    </nav>

    <div class="jumbotron">
         <div class="container text-center">
              <h2>Abhaile App</h2>
              <p> Home Help App !!!</p>
         </div>
    </div>

{% block body %}


{% endblock %}

    <script src ="http://code.jquery.com/jquery-2.1.3.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</body>
</html>